.contato{
    background-image: url("../../img/bg-header.png");
    background-repeat: repeat; 
    padding-top: 32px;
    padding-bottom: 32px; 
}
  
.contato-titulo{
    
    padding-bottom: 25px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
}

.form-contato{
margin-bottom: 40px;
}

.btn-contato{
    color: #373A3C;
    font-size: 16px;
    line-height: 21px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;

}

.icone-contato{
    width: 40px;
    height: 52px;
    font-size: 45px;
    line-height: 52px;
    color: #FFFFFF;
   
}
.icon-center{
    text-align: center;
}

.icon-end{
    text-align: right;
}